<h1>Registro estudiantes</h1>



<form action="/students/new" method="post">
    <input type="text" placeholder="Nombre" name="name">
    <input type="text" placeholder="Apellido" name="lastName">
    <input type="email" placeholder="Correo electronico" name="email">
    <input type="number" placeholder="Edad" name="age">

    <select>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
        <option>Web - marzo 22</option>
    </select>

    <input type="checkbox"> Videojuego
    <input type="checkbox"> Plataforma Full Stack
    <input type="checkbox"> Proyecto Final

    <button type="submit">Enviar</button>
</form>